.navbar {
  background-color: #4a4a8a; /* Cor de fundo do navbar */
  text-align: center;
  justify-content: center;
}

.navbar .container{
  display: flex;
  margin: 0 auto; /* Centraliza o container */
  text-align: center;
  align-content: center;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #4a4a8a; /* Cor de fundo do navbar */
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Espaço entre o logo e o texto */
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  transition: color 0.3s ease;
}

.navbar-logo img {
  height: 150px;
  width: 150px;
  border-radius: 50%; /* Torna o logo circular */
  transition: transform 0.3s ease;
}

.navbar-logo:hover {
  color: #ffd700; /* Cor do texto ao passar o mouse */
}

.navbar-logo img:hover {
  transform: scale(1.1); /* Efeito de zoom no logo ao passar o mouse */
}

.navbar-hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.navbar-hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #ffd700; /* Cor dos links ao passar o mouse */
}

@media (max-width: 768px) {
  .navbar-hamburger {
    display: flex;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #4a4a8a;
    width: 100%;
    padding: 1rem 0;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-links li {
    text-align: center;
    margin: 0.5rem 0;
  }
  .navbar-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Espaço entre o logo e o texto */
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
    transition: color 0.3s ease;
  }
  
  .navbar-logo img {
    height: 100px;
    width: 100px;
    border-radius: 50%; /* Torna o logo circular */
    transition: transform 0.3s ease;
  }
}
